<section>
    <div class="container">
        <div class="col-md-12">
            <div class="block-grid-xs-1 block-grid-md-2 block-grid-lg-2 block-grid-sm-2">
                <div class="block-grid-item" *ngFor="let offer of [1,1]">
                    <div class="offer position-relative">
                        <img src="assets/img/2.jpg" alt="Avatar" class="img-fluid">
                        <div class="overlay">
                            <h6 class="text-uppercase">Power tools</h6>
                            <h5 class="text-uppercase medium">Get up to
                                <span class="blue">20% off</span>
                            </h5>
                        </div>
                    </div>
                </div>
             
               
            </div>
        </div>
    </div>
    
  </section>