<nav class="navbar navbar-expand-lg bg-dark navbar-light1 nav-justified navbar-dark  fixed-top-2">
  <div class="container">

      <button class="navbar-toggler navbar-toggle  navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav  w-100 align-items-start">
              <li class="nav-item">
                  <a href="#" class="item-app-uses item-icon-left appuse">
                      <i class="icon2 icon-cart-van"></i>
                      <h5 class="text-uppercase">free shipping</h5>
                      <p class="text-small">Free shipping on all US order or order above $99</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="item-app-uses item-icon-left appuse">
                      <i class="icon2 icon-headset"></i>
                      <h5 class="text-uppercase">support 24/7</h5>
                      <p class="text-small">Contact us 24 hours a day, 7 days a week</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="item-app-uses item-icon-left appuse">
                      <i class="icon2 icon-reply"></i>
                      <h5 class="text-uppercase">30 days return</h5>
                      <p class="text-small">simply return it with 24 days for an exchange</p>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>