<div class="panel panel-primary setup-content" id="step-2">
    <div class="panel-heading">
        <h3 class="panel-title text-uppercase">Delivery Address</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <form [formGroup]="addressValidator" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="name" required type="text" formControlName="name" [(ngModel)]="ngName" placeholder="Name" />
                                <label class="control-label" for="name">Name</label>
                                <app-error-validator [validationArray]="validation_messages.name" [formDetails]="addressValidator" [elementType]="'name'" ></app-error-validator>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="number" required type="number" formControlName="phoneNumber" [(ngModel)]="ngPhoneNumber" placeholder="Phone Number" />
                                <label class="control-label" for="number">Phone Number</label>
                                <app-error-validator [validationArray]="validation_messages.phoneNumber" [formDetails]="addressValidator" [elementType]="'phoneNumber'" ></app-error-validator>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="pincode" required type="text" formControlName="pinCode" [(ngModel)]="ngPinCode" placeholder="Pin code" />
                                <label class="control-label" for="pincode">Pin code</label>
                                <app-error-validator [validationArray]="validation_messages.pinCode" [formDetails]="addressValidator" [elementType]="'pinCode'" ></app-error-validator>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="locality" required type="text" formControlName="locality" [(ngModel)]="ngLocality" placeholder="Locality" />
                                <label class="control-label" for="locality">Locality</label>
                                <app-error-validator [validationArray]="validation_messages.locality" [formDetails]="addressValidator" [elementType]="'locality'" ></app-error-validator>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-float-label">
                                <textarea rows="4" class="form-control" id="address" formControlName="address" [(ngModel)]="ngAddress" placeholder="Address (Area and Street)"></textarea>
                                <label class="control-label" for="address">Address (Area and Street)</label>
                                <app-error-validator [validationArray]="validation_messages.address" [formDetails]="addressValidator" [elementType]="'address'" ></app-error-validator>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="city" required type="text" formControlName="city" [(ngModel)]="ngCity" placeholder="City/District/Twon" />
                                <label class="control-label" for="city">City/District/Twon</label>
                                <app-error-validator [validationArray]="validation_messages.city" [formDetails]="addressValidator" [elementType]="'city'" ></app-error-validator>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <select formControlName="state" [(ngModel)]="ngState" class="form-control">
                                    <option value="1">Hyderabad</option>
                                    <option value="2">Banglore</option>
                                    <option value="3">Chennai</option>
                                </select>
                                <label class="control-label" for="locality">State</label>
                                <app-error-validator [validationArray]="validation_messages.state" [formDetails]="addressValidator" [elementType]="'state'" ></app-error-validator>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="landmark" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="ngLandMark" placeholder="Landmark (Optional)" />
                                <label class="control-label" for="landmark">Landmark (Optional)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" id="alternate" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="ngAlternatePhone" placeholder="Alternate Phone number (Optional)" />
                                <label class="control-label" for="alternate">Alternate Phone number (Optional)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <label>Address Type</label>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1"> Home (All day delivery)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2"> Work (Delivery between 10 AM - 5 PM)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn rounded-0 btn-success rounded-0 mr-3 nextBtn text-uppercase" type="submit">Save and deliver here</button>
                                <button class="btn rounded-0 btn-link  text-uppercase" type="submit">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>