<div class="panel panel-primary setup-content" id="step-1">
  <div class="panel-heading">
    <h3 class="panel-title text-uppercase">Login</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <form [formGroup]="loginValidator" class="form-horizontal" role="form">
          <div class="form-group has-float-label">
            <input class="form-control" id="email" required type="email" formControlName="email" [(ngModel)]="ngEmail" placeholder="email@email.com" />
            <label class="control-label" for="email">Enter Email/Mobile number</label>
            <app-error-validator [validationArray]="validation_messages.email" [formDetails]="loginValidator" [elementType]="'email'" ></app-error-validator>
          </div>
          <div class="form-group has-float-label">
            <input class="form-control" required id="password" type="password" formControlName="password" [(ngModel)]="ngPassword" placeholder="password" />
            <label class="control-label" for="password">Password</label>
            <app-error-validator [validationArray]="validation_messages.password" [formDetails]="loginValidator" [elementType]="'password'" ></app-error-validator>            
          </div>
          <div class="form-group pt-4">
            <button class="btn rounded-0 btn-success nextBtn btn-block text-uppercase" (click)=loginUser() [disabled]="!loginValidator.valid" type="button">next</button>
          </div>
        </form>

      </div>

      <div class="offset-md-1 col-md-6">
        <div class="secureul">
          <ul>
            <li class="pb-3">Advantages of our secure login</li>
            <li>
              <span class="mr-3 icon-cart-van"></span>
              <span>Easily Track Orders, Hassle free Returns</span>
            </li>
            <li>
              <span class="mr-3 icon-bell"></span>
              <span>Get Relevant Alerts and Recommendation</span>
            </li>
            <li>
              <span class="mr-3 icon-star-full"></span>
              <span>Wishlist, Reviews, Ratings and more.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>