<section class="pt-4 pb-4">
  <div class="container">
      <div class="row toolCategory">
          <div class="col-md-3 mb-4" *ngFor="let category of itemCategories">
              <div class="box" (click)="goToTools(category.name)">
                  <h4 class="text-uppercase pb-3">
                      {{category.name}}
                  </h4>
                  <div class="gray-bg">
                      <img src="{{category.imageurl}}" alt="imge" class="img-fluid">
                  </div>
                  <a>
                      <p>See All Products</p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>