<section class="pt-4 pb-4">
  <div class="container">
      <div class="row">
          <div class="col-md-3 mb-4" *ngFor="let category of itemCategories">
              <div class="box">
                  <h4 class="text-uppercase pb-3">
                      {{category.name}}
                  </h4>
                  <div class="gray-bg">
                      <img src="{{category.itemImage}}" alt="imge" class="img-fluid">
                  </div>
                  <p>Angle Griender Machine</p>
                  <p>Angle Griender Machine</p>
                  <p>Angle Griender Machine</p>
                  <p>Angle Griender Machine</p>
                  <a href="#">
                      <p>See All Products</p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>