<div [ngClass]="{'loader': showLoading, '': !showLoading }"></div>
<div [ngClass]="{'body-loader': showLoading, '': !showLoading }">
    <smtp-info></smtp-info>

    <app-carousel [images]="imgObj"></app-carousel>

    <add-block></add-block>

    <!-- <a routerLink="/view-details"> <img src="assets/img/offer.png" alt="imge" class="img-fluid"></a> -->
    <tools-category [itemCategories]="itemCategories"></tools-category>
    <add-block></add-block>
    <top-brands [topBrands]="topBrands" [emergingBrands]="emergingBrands"></top-brands>
    <app-offers [offers]="offers" [newArrivals]="newArrivals"></app-offers>
    <offers-ads [offers_ads]="offers_ads"></offers-ads>
</div>
<!-- <script>
        $(document).ready(function() {
            $('#carousel01').owlCarousel({
                loop: true,
                margin: 5,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            })
            $('#carousel02').owlCarousel({
                loop: true,
                margin: 5,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false
                    }
                }
            })
    
    
            $('#carousel03').owlCarousel({
                loop: true,
                margin: 5,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            })
            $('#carousel04').owlCarousel({
                loop: true,
                margin: 5,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false
                    }
                }
            })
    
        })
    </script>
    <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');
    
    
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                $('.dropdown-submenu .show').removeClass("show");
            });
    
    
            return false;
        });
    </script> -->