<section class="pt-4 pb-4 d-none d-md-block d-sm-block d-lg-block">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="blue-bg p-2">
                  <div class="item-app-uses item-icon-left appuse">
                      <img width="50" height="50" class="icon2 advertise-round mr-3" src="assets/img/powertools.png" alt="Generic placeholder image">
                      <h5 class="text-uppercase ml-3"><span class="font-big dark"><span>UP TO </span>
                          <span class="text-white">20% OFF</span></span>
                          <span class="text-uppercase dark">the best tools gifts for dad</span></h5>
                      <a href="#" class="float-right advertise-btn btn btn-light text-uppercase">Shop now !</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>