<div class="panel panel-primary setup-content" id="step-3">
  <div class="panel-heading">
      <h3 class="panel-title text-uppercase">Order Summary</h3>
  </div>
  <div class="panel-body">
      <div class="col-md-12 pr-0 pr_0">
          <!-- <div class="card-header pb-0">
              <div class="row fullcart-margin">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-8">
                              <h5 class="text-uppercase">My cart(1)</h5>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group has-feedback">
                                  <input type="text" class="form-control form-control-pin" id="inputValidation" placeholder="Enter delivery pincode">
                                  <span class="icon-map-marker form-control-feedback"></span>
                                  <a href="#" class="btn btn-link form-control-feedback1">Check</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->

          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-2 pr-0 pr_0 col-12">
                              <img src="assets/img/Dewalt-Compressors.png" class="img-fluid">
                              <div class="color-quality-right pt-3 pb-3">
                                  <div class="quantity text_center">
                                      <div class="quantity-select">
                                          <div class="entry value-minus1">
                                              <span class="icon-minus"></span>
                                          </div>
                                          <div class="entry value1">
                                              <span>1</span>
                                          </div>
                                          <div class="entry value-plus1 active">
                                              <span class="icon-plus"></span>
                                          </div>
                                      </div>
                                  </div>



                              </div>
                          </div>
                          <div class="col-md-6 pr-0">
                              <p class="medium">6mm Wood Chisel MPT MH020031 - 6</p>
                              <div class="form-group">
                                  <span class="medium">Seller:</span>
                                  <span class="secondary">Powertax</span>
                              </div>
                              <p class="medium">
                                  <span class="blue">
                                      <span class="icon-inr"></span>
                                  <span>2,564.56</span>
                                  </span>
                                  <span class="pricetag">20.5%</span>
                                  <span class="text-line-through">
                                      <span class="icon-inr"></span>4,565.00</span>
                                  <span class="mr-1 ml-2 blue">2 Offers Applied</span>
                                  <span class="icon-info blue"></span>
                              </p>
                              <div class="form-group medium pt-3">
                                  <a href="#" class="text-uppercase">
                                      Remove
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <p>
                                  <b>Free delivery in 5-7 days</b>
                              </p>
                              <p>30 days Replacement policy</p>
                          </div>
                      </div>

                  </div>


              </div>

          </div>
      </div>

  </div>
  <hr>
  <div>
      <div class="row m-3 justify-content-center">
          <div class="col-md-9">
              <span>Order conformation email will be sent to</span>
              <input type="text" class="ml-3 form-control wizard-input" placeholder="Enter your email ID">
          </div>
          <div class="d-blcock d-md-none d-lg-none d-sm-none">&nbsp;</div>
          <div class="col-md-3">
              <button class="btn btn-success rounded-0 btn-block nextBtn pull-right text-uppercase" type="button">Continue</button>
          </div>
      </div>


  </div>

</div>