<nav class="navbar navbar-expand-lg box-shadow  bg-light navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand " routerLink="/">
      <img src="assets/img/logo.png" alt="Logo" width="125">
    </a>
    <button class="navbar-toggler navbar-toggle navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive1"
      aria-controls="navbarResponsive1" aria-expanded="false" aria-label="Toggle navigation">

      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link medium text-uppercase" routerLink="/">
            <span class="icon-home">
            </span> Home
          </a>
        </li>
        <li class="nav-item ml-3 ml__0 dropdown">
          <a class="nav-link medium text-uppercase categories dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="icon-bars">
            </span>
            <span>categories</span>
          </a>
          <ul class="dropdown-menu megadrop" aria-labelledby="navbarDropdownMenuLink">
            <li class="dropdown-submenu" *ngFor="let tools of categories">
              <a class="dropdown-item  dropdown-toggle text-light" (click)="sendToTools(tools.categoryname,'')">{{tools.categoryname}}</a>
              <ul class="dropdown-menu">
                <!-- <ul class="multi-column-dropdown"> -->
                <li *ngFor="let subTools of tools.subcategoryname">
                  <a class="dropdown-item" (click)="sendToTools(tools.categoryname,subTools.subcategory)">{{subTools.subcategory}}</a>
                </li>
                <!-- </ul> -->
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link medium text-uppercase" routerLink="/coupons">
            Coupons
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto mobilenav navbar-right ">
        <li>
          <div class="form-group has-feedback">
            <input type="text" class="form-control" id="inputValidation" placeholder="Search">
            <span class="icon-search form-control-feedback"></span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link categories dropdown-toggle" (mouseover)="showSavedCartDetails()" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-shopping-cart"></span>
          </a>
          <ul *ngIf="savedCartData.length==0" class="dropdown-menu dropdown-cart" role="menu" aria-labelledby="navbarDropdownMenuLink">
            No cart details to display.
          </ul>
          <ul *ngIf="savedCartData.length > 0" class="dropdown-menu dropdown-cart" role="menu" aria-labelledby="navbarDropdownMenuLink">
            <li *ngFor="let item of savedCartData">
              <span class="item">
                <span class="item-left" (click)="viewDetails(item.productdescription)">
                  <img src="{{item?.image}}" alt="" />
                  <span class="item-info">
                    <span>{{item?.productdescription}}</span>
                    <p class="blue">{{item?.qty}} X
                      <span class="icon-inr"></span>{{item.offer_price}}</p>
                  </span>
                </span>
                <span class="item-right pull-right">
                  <span (click)="deleteCartItem(item)" class="icon-trash-2"></span>
                </span>
              </span>
            </li>
            <li class="divider"></li>
            <li>
              <span class="item">
                <span class="item-left">
                  <h5>Total:</h5>
                </span>
                <span class="blue item-right pull-right">
                  <span class="icon-inr mr-1"></span>{{savedCartTotal}}
                </span>
              </span>
            </li>
            <li class="ml-3 mr-3">
              <a class="btn  btn-success rounded-0 text-center text-uppercase" (click)="proceedToPay()">Proceed to checkout</a>
            </li>
            <li>
              <a class="text-center btn btn-link" (click)="goToViewCart()">View Cart</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link categories dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="icon-user"></span>
          </a>
          <div *ngIf="!userLogged" class="login dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/login">
              <span class="icon-lock mr-2"></span>Sign in</a>
            <a class="dropdown-item" routerLink="/register">
              <span class="icon-user-plus mr-2"></span>Register</a>
            <!-- <a class="dropdown-item" routerLink="">
              <span class="icon-handshake-o mr-2"></span>Supplier/Reseller</a> -->
          </div>

          <div *ngIf="userLogged" class="login dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            Welcome {{username}}
            <a class="dropdown-item" (click)="signOut()" routerLink="/">
              <span class="icon-lock mr-2"></span>Sign out</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span class="icon-cog"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favourite">
            <span class="icon-heart"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/compare-items">
            <span class="icon-compare_arrows"></span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- <nav class="fixed-top-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Home</a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Cart</li>
  </ol>
</nav> -->