<div>&nbsp;</div>
<div>&nbsp;</div>
<section class="blue-bg mr__1 news-letter">
  <div class="container-fluid">
    <div class="row py-4 align-items-center">
      <div class="col-md-3 mt_4">
        <p class="text-uppercase text-white m-0">newsletter signup:</p>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="white-bg form-control border border-right-0 border-bottom-0" placeholder="Enter your e-mail">
          <span class="input-group-btn">
            <button class="btn bg-dark text-white" type="button">subscribe</button>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="list-inline float_left mt_4 float-right mb-0">
          <li class="list-inline-item ">
            <a class="nav-link">
              <span class="icon-facebook"></span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a class="nav-link ">
              <span class="icon-twitter"></span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a class="nav-link ">
              <span class="icon-google-plus"></span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a class="nav-link ">
              <span class="icon-linkedin"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row text-right">
    <div class="col-md-12">
      <a style="visibility: visible;  display: block;" id="top-link" href="#top">
        <span>
          <span class="icon-angle-up"></span> &nbsp;Back to top
        </span>
      </a>
    </div>
  </div>
</div>
<footer>
  <section class="py-5 mt-6 bg-dark">

    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <ul>
            <li>
              <a href="#" class="text-uppercase">Shop my tools</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Order Tracking</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li>
              <a href="#" class="text-uppercase">Customer service</a>
            </li>
            <li>
              <a href="#">Terms of use</a>
            </li>
            <li>
              <a href="#">Return Policy</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Shipping</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 ">
          <ul>
            <li>
              <a href="#" class="text-uppercase">Payment methods</a>
            </li>
            <li>
              <a href="#">Net Banking</a>
            </li>
            <li>
              <a href="#">EMI Conversion</a>
            </li>

          </ul>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <h6 class="text-uppercase">Contact us</h6>
              <p class="mb-2">
                <span class="icon-map-marker mr-2 "></span> A-38, Thiruvika street, Nehru nagar, Velachery, Chennai
              </p>
              <p class="mb-2">
                <span class="icon-envelope-o mr-2 "></span>support@gmail.com
              </p>
              <p class="mb-3">
                <span class="icon-phone mr-2 "></span>+91 9874563214
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="assets/img/logo.png" width="125">
        </div>
        <div class="col-md-4">
          <span class="text-small">© 2018 ShopMyTools. All Rights Reserved</span>
        </div>
        <div class="col-md-6 text-right">
          <img src="assets/img/pay.png">
        </div>
      </div>

    </div>
  </section>
</footer>