.img-fluid {
    width: 100%;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
    color: #959695;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #007bff;
}

.border-bottom {
    border-bottom: 2px solid #007bff !important;
}

.nav-pills .nav-link {
    padding: .5rem 3rem;
    font-size: 20px;
    font-weight: bold;
}

.nav-pills .nav-link {
    padding: 0px 25px;
}

@media (min-width: 768px) {
    .owl-nav {
        top: -38px;
    }
}

@media (max-width: 767px) {
    .ml-4 {
        margin-left: 0px !important;
    }
}